<ion-content [fullscreen]="true">

  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="onSearch()"  placeholder="Filter Pizza"   showCancelButton="always"></ion-searchbar>
  </ion-toolbar>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>

        <ion-item *ngFor="let coctel of cocteles; let i = index">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src={{coctel.imagenUrl}} />
          </ion-thumbnail>
          <ion-label>{{coctel.nombre}}</ion-label>
          <ion-label>{{coctel.alcoholico}}</ion-label>
          <ion-label>{{coctel.precio}}</ion-label>
          <ion-button (click)="eliminarCoctel(i)" color="danger" slot="end" expand="block">Eliminar</ion-button>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="goToRandom()">
      <ion-icon name="wine-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToCreate()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
